<div class="form-area">
    <h1>User Details</h1>
    <br>
    <input type="text" [(ngModel)]="user.name" placeholder="Name">
    <br>
    <input type="text" [(ngModel)]="user.email" placeholder="email">
    <br>
    <textarea name="address" id="" cols="30" rows="10" [(ngModel)]="user.address" placeholder="Address"></textarea>
    <br>
    <button (click)="addNew()">Save Data</button>

</div>
<div  *ngIf="userList.length > 0; else noData">
    <div class="table-area">
        <table width='500' border="1">
            <thead>
                <th>#</th>
                <th>Name</th>
                <th>email</th>
                <th>address</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr *ngFor="let user of userList; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.address}}</td>
                    <td align="center"><button (click)="onDelete(i)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<ng-template #noData>
    <h3>No data to show</h3>
</ng-template>